.basket-img img {
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.product:hover .product-img img {
    transform: scale(1.1);
}

.product:hover {
    cursor: pointer;
}

.product .tovar-name {
    color: #1F2026;
    max-width: 215px;
    width: 100%;
    font-size: 12.8px;
    line-height: 15.36px;
}

.product-img {
    width: 100%;
    height: 309px;
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background: #efefef;
}

.product-img img {
    width: 150px;
    overflow: hidden;
    transition: all .3s ease;
    height: 200px;
    mix-blend-mode: multiply;
}

.tovar-price .old-price {
    color: #8B8E99;
    font-size: 11.2px;
    line-height: 13.44px;
}

.tovar-price .new-price {
    color: #1F2026;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
}
.main-btn{
    transition: background .2s ease;
}
.main-btn:hover{
    background-color: #7F4DFF;
}

.all-products{
    margin-top: 30px;
}