.user-info h2 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-user {
    font-size: 24px;
    font-weight: 600;
    color: #ff0000;
}

.show-users {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #7f4dff;
    color: white;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.show-users:hover {
    background-color: #6232ff;
}


.users {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.user {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.user:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.user h2 {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 14px;
    color: white;
    transform: rotate(-180deg);
}

.arrow.open {
    transform: rotate(0deg);
}


/* add new user modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.show {
    display: flex;
}

.modal-content {
    background: #fff;
    width: 400px;
    padding: 22px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
    font-size: 22px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}

.close-btn:hover {
    color: red;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.modal-body label {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-body input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.modal-body input:focus {
    border-color: #7f4dff;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.close-footer,
.submit-footer {
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.close-footer {
    background: #eee;
    border: none;
}

.submit-footer {
    background: #7f4dff;
    border: none;
    color: white;
}

.submit-footer:hover {
    background: #6938dd;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error-text{
    font-size: 18px;
    color: red;
    font-weight: 600;
}