.header .top-header {
    padding: 10px 0;
    background: var(--uzum-Athens-Gray, #F2F4F7);
    margin-bottom: 17px;
}

.header .top-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .location {
    display: flex;
    gap: 24px;
    align-items: center;
}

.location .location-adres {
    display: flex;
    gap: 4px;
    align-items: center;
}

.location-adres p {

    color: #1F2026;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

.location-adres p span {
    font-weight: 500;
    border-bottom: 0.8px solid #1F2026;
}

.location h4 {
    color: #1F2026;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.buyurtma {
    color: #8B8E99;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}

.header .language {
    display: flex;
    align-items: center;
    gap: 15px;
}

.language h4 {
    color: #595B66;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.language .select-lang {
    display: flex;
    gap: 6px;
}

/* main header */
.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.katalog-btn {
    display: flex !important;
    align-items: center !important;
    gap: 8px;
    padding: 8px 18px !important;
}

input[type="search"] {
    -webkit-appearance: none;
    /* Safari uchun */
    -moz-appearance: none;
    appearance: none;
}

.main-header .search-header {
    display: flex;
    align-items: center;
    gap: 7px;
}

.search-header input {
    color: #757575;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(54, 54, 64, 0.20);
    background: #fff;
    width: 440px;
    padding: 10px 16px 12px 16px;
}

.search-header input::placeholder {
    color: #757575;
    font-size: 14px;
}

.main-header .header-functs {
    display: flex;
    align-items: center;
    gap: 8px;
}

.auth,
.like,
.savat
{
    padding: 8px 16px;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: all .2s linear;
    border-radius: 8px;
}
.profile{
    display: flex;
    padding: 6px;
    gap: 5px;
    align-items: center;
    transition: all .2s linear;
    border-radius: 8px;
}
.auth:hover,
.like:hover,
.savat:hover {
    background: #DEE0E5;
    cursor: pointer;
}

/* modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal.show{
    display: flex;
}
.modal-content {
    background: #fff;
    width: 400px;
    padding: 22px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header h2 {
    margin: 0;
    font-size: 22px;
}
.close-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}
.close-btn:hover {
    color: red;
}
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.modal-body label {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-body input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.modal-body input:focus {
    border-color: #7f4dff;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.close-footer,
.submit-footer {
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.close-footer {
    background: #eee;
    border: none;
}

.submit-footer {
    background: #7f4dff;
    border: none;
    color: white;
}

.submit-footer:hover {
    background: #6938dd;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}